/* src/Sidebar.css */

.bg-turbo-yellow {
    background-color: #ffcc19;
}

.bg-turbo-yellow-10 {
    background-color: #f4e74c;
}

.bg-turbo-yellow-20 {
    background-color: #e8df80;
}

.bg-turbo-yellow-30 {
    background-color: #dcd5b3;
}

.bg-turbo-yellow-40 {
    background-color: #d1cbdd;
}

.bg-turbo-yellow-50 {
    background-color: #ffcc19;
}

.bg-turbo-yellow-60 {
    background-color: #e6b514;
}

.bg-turbo-yellow-70 {
    background-color: #d4a40e;
}

.bg-turbo-yellow-80 {
    background-color: #c39b0a;
}

.bg-turbo-yellow-90 {
    background-color: #b28d06;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.wrapper {
    position: relative;
    
}


#sidebar {
    position: fixed; /* Fix the sidebar, so it overlays on top of content */
    width: 250px;
    height: 100%;
    background: #ffcc19;
    color: #6b6b6b;
    left: -250px; /* Start hidden by positioning offscreen */
    transition: all 0.3s ease; /* Smooth transition */
    z-index: 1000; /* Ensure it's on top of other elements */
}

#sidebar.active {
    left: 0; /* When active, bring it fully into view */
}

#sidebar .sidebar-header {
    padding: 40px;
    background: #e6b514;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #d4a40e;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #ffcc19;
    background: #6b6b6b;
}

#content {
    width: 100%;
    padding: 20px;
    transition: margin-left 0.3s ease;
    z-index: 1; /* Content stays below the sidebar */
}

#sidebarCollapse {
    position: fixed; /* Fix the button so it stays visible */
    top: 15px; /* Align it at the top */
    left: 15px; /* Move it slightly from the left */
    z-index: 1050; /* Higher than the sidebar */
    background-color: #ffcc19; /* Match the sidebar color */
    border: none;
    outline: none;
    color: #fff; /* White icon color */
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
}
